[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pywin32 = "*"
cx-freeze = "*"
eudplib = "*"
colorama = "*"
cython = "*"
cffi = "*"
idna = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
